@font-face {
    font-family: 'Cabin';
    src: url("assets/fonts/Cabin/Cabin-VariableFont_wdth,wght.ttf");
    font-weight: 400;
  }
  
  }

  @media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }



  * {
    box-sizing: border-box;
  }

  body {
    font-family: 'Cabin';
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #dae0e2;
  }

  .avatar {
    width: 70%;
    object-fit: cover;
    border-radius: 69%;
    box-shadow: 0 2px 5px rgb(0 0 0);

    align-items: center;
   
    padding: 0px;
    display: flex;
    justify-content: space-between;
    
    
}


  .footer {
    align-items: center;
    max-width: 1028px;
    min-width: 1028px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
              
  }

  .container {
    max-width: 1028px;
    margin: 0 auto;
  }

  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    font-family: "Cabin";
  }

  html {
    scroll-behavior: smooth; 
  }



  .nav-link {
    padding: 0 20px;
    line-height: 50px;
    transition: .3s;
  }

  .nav-link  {
    font-size: 16px;
    font-weight: bold;
    font-family: 'Cabin';
    color: #909090;
    text-decoration: none;  
    transition: color 0.2s;
  }
  :hover.nav-link {
    color: #000000;
    font-weight: bold;
  }

  .main-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .section {
    width: 50%;
    padding: 10px;
  }


  .main {
    font-size: 24px;
    max-width: 1028px;
    margin: auto;
    border: black solid 1px;
    display: flex;
    background-color: white;
    -webkit-box-shadow: 1px 81px 100px 5px rgb(0 0 0 / 49%);
    -moz-box-shadow: 1px 81px 100px 5px rgba(0,0,0,0.49);
    box-shadow: 2px 100px 100px 7px rgb(0 0 0 / 28%);
  }

    .github-icon {
        max-hight: 20px;
        filter: invert( 30%);
        transition: .3s;
    }

    :hover.github-icon {
        filter: invert( 0%);
    }


    .about {
        padding: 1rem;
        width: 38.2%;
        color: white;
        background-color: #4d4d4d;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
    }

    .aboutme {
    padding: 1rem;
    width: 61.8%;
    color: #4d4d4d;
    background-color: white;
    
    
}
    














/* в css элементу body указываем свойство font-family: 'Roboto';, элементам, в которых используется шрифт с разной насыщенностью, указываем свойство font-weight */